services:
  app:
    build: .
    restart: on-failure
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=fund_transfer
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  test-runner:
    image: maven:3.9.6-eclipse-temurin-17
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=fund_transfer
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DOCKER_HOST=unix:///var/run/docker.sock
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    entrypoint: [ "mvn" ]
    profiles: [ "test" ]

  db:
    image: postgres:15-alpine
    container_name: db
    hostname: db
    environment:
      - POSTGRES_DB=fund_transfer
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 10s
      timeout: 5s
      retries: 5
